@using IydePersonal.Application.Dtos.Store
@model List<StoreDto>

<div class="container-xxl flex-grow-1 container-p-y">

    <H4 class=" fw-bold py-3 mb-4">
        <span class="text-muted fw-light"><b>Stores List</b>/ </span> Store
    </H4>

    <!-- Hoverable Table rows -->

    <div class="Card" >

                 <div class="card-body">

            <div class="table-responsive text-nowrap m-3">

                          <a class="btn btn-success btn-md mb-3" asp-area="Admin" asp-controller="Store" asp-action="Add">
                              New <i class="bx bx-plus"></i>
                          </a>

                               <table class="display table table-striped table-hover  table-dark" id="StoreTables" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                             <th>Full Name</th>
                                             <th style="padding-left:1000px">Edit&Delete</th>
                                    </tr>
                                  </thead>
                    @*   <tfoot>

                                           <tr>
                                             <th>Ad</th>
                                             <th>Bal</th>
                                             <th>Edit&Delete</th>
                                           </tr>
                                  </tfoot> *@
                                  <tbody class="table-border-bottom-0">

                                                          @foreach (var Store in Model)
                                                                              {
                                                             <tr>
                                                                <td>@Store.Name</td>
                                                                @* <td>@Punkt.Point</td> *@


                                                                <td style="padding-left:1000px">
                                                                    <a class="btn btn-primary btn-xs" data-Id="@Store.Id" asp-area="Admin" asp-controller="Store" asp-action="Update" asp-route-StoreId="@Store.Id"><i class="bx bxs-edit"></i></a>
                                                                    <a class="btn btn-danger btn-xs" data-Id="@Store.Id" asp-area="Admin" asp-controller="Store" asp-action="Delete" asp-route-StoreId="@Store.Id"><i class="bx bx-minus-circle"></i></a>
                                                                </td>
                                                            </tr>
                                                         }
                                  </tbody>
                                </table>
                      </div>
                </div>
   </div>

    <!--/ Hoverable Table rows -->
</div>

@section Scripts {
    <script src="~/js/JavaScript2.js" type="application/ecmascript"></script>
}