@using IydePersonal.WEB.Conts

@model IEnumerable<EmployeeDto>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="container-xxl flex-grow-1 container-p-y mb-5" style="width:100%; border-collapse: collapse ">
   
    
    
       <H4 class=" fw-bold mt-2">
           <span class="text-muted fw-light" ><b>Employees</b>/ </span> List Employees
       </H4>
    

<!-- Hoverable Table rows -->

    <div class="Card"> 
                 <div class="card-body">
  
                       <div class="table-responsive text-nowrap">

                                           @{
                                            @if (User.IsInRole($"{RoleConsts.Superadmin}"))
                                            {
                                                            <a class="btn btn-success btn-md mb-3" asp-area="Admin" asp-controller="Employee" asp-action="Add">
                                                             New <i class="bx bx-plus"></i>
                                                            </a>
                                                            <a asp-controller="Employee" asp-action="ExportToExcel" class="btn btn-success"style="margin-bottom:15px;margin-left:1200px"><i class="fa-solid fa-file-export"></i></a>
                                                        }
                                            }

                        
                                  <table class="table table-hover table-bordered text-center w-100"style="margin-left:-8px" id="employeeTables" cellspacing="0">
                                  <thead class="bg-info text-bg-primary">
                                    <tr>
                                                  <th style="color:#483D8B"> <strong>FullName</strong> </th>
                                                 @*  <th>LastName</th> *@
                                                  <th style="color:#483D8B"> <strong>Gender</strong> </th>
                                                  <th style="color:#483D8B"> <strong>DateOfBirth</strong> </th>
                                                  <th style="color:#483D8B"> <strong>PhoneNumber</strong> </th>
                                                  <th style="color:#483D8B"> <strong>WorkPosition</strong> </th>
                                                  <th style="color:#483D8B;text-align:center"> <strong>Store</strong> </th>
                                                  <th style="color:#483D8B"> <strong>Adress</strong> </th>
                                                  <th style="color:#483D8B"> <strong>FixSalary</strong> </th>
                                                  <th style="color:#483D8B"> <strong>StarWork</strong> </th>
                                                  
                                                    @{
                                                     @if (User.IsInRole($"{RoleConsts.Superadmin}"))
                                                        {
                                                         <th style="color:#483D8B"> <strong>Edit&Delete</strong> </th>
                                                        }
                                                     }     
                                    </tr>
                                  </thead>
                         
                                  <tbody class="table-border-bottom-0"style=" width: 150%;
                                                                    border-collapse: collapse; padding: 8px;">
        
                                                 @foreach (var Employee in Model)
                                                {
                                                     <tr name="@Employee.Id">
                                                        <td style="white-space:nowrap;padding: 10px;text-align: left; max-width: 150px; ">@Employee.FullName</td>
                                                        <td>@Employee.Gender</td>
                                                        <td>@Employee.DateOfBirth.ToShortDateString()</td>
                                                        <td>@Employee.PhoneNumber</td>
                                                        <td style="text-align:center">@Employee.WorkPosition</td>
                                                        <td style="white-space:nowrap;padding: 8px;text-align: center; max-width: 150px;">@Employee.User.UserName</td>
                                                        <td style="
                                                        padding: 8px;
                                                        text-align: left;
                                                        max-width: 150px; /* Maksimum genişlik */
                                                        white-space: nowrap; /* Sətir sonu daxil etmədən mətnin bir sətirdə qalmasını təmin edir */
                                                        overflow:hidden; /* Overflow olan məzmunu gizlədər */
                                                        text-overflow: ellipsis;">@Employee.Address</td>

                                                        <td style="color:red; text-align:center; cursor:pointer;" onclick="loadSalaryDetails(@Employee.Id)">
                                                            @Employee.FixSalary
                                                        </td>
                                                        <td>@Employee.StartWork.ToShortDateString()</td>

                             
                                                        @{
                                                         @if (User.IsInRole($"{RoleConsts.Superadmin}"))
                                                            {
                                                                     <td>
                                                                                    <a class="btn btn-primary btn-xs" data-Id="@Employee.Id" asp-area="Admin" asp-controller="Employee" asp-action="Update" asp-route-UpdateId="@Employee.Id"><i class="fas fa-edit"></i></a>
                                                                                                                       <button class="btn btn-danger btn-xs" onclick="confirmDelete(@Employee.Id)"><i class="fas fa-trash"></i></button>
                                                                                 
                                                                              @*  <a class="btn btn-danger btn-xs" data-Id="@Employee.Id" asp-area="Admin" asp-controller="Employee" asp-action="Delete" asp-route-UpdateId="@Employee.Id"><i class="bx bx-minus-circle"></i></a>*@
                                                                      </td>
                                                                        
                                                            }
                                                        }
                                                     </tr>
                                                }
                                  </tbody>
                                </table>
                      </div>
                </div>
       </div>
   
    <!--/ Hoverable Table rows -->
 </div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
                <!-- Tarix Seçimi -->
                <div class="mb-3">
                    <label for="deleteDate" class="form-label">Select the date:</label>
                    <input type="date" id="deleteDate" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------------------------->

<div id="inventoryModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-custom"style="max-width:70%">
        <div class="modal-content">
            <div class="modal-header">
             
                    <h5 class="modal-title"> Salaries</h5>
                <button class="btn btn-success" style="margin-left:70px;margin-right:20px" data-bs-toggle="collapse" data-bs-target="#addEditInventoryForm" onclick="loadaddSalaryDetails()"><i class="bx bx-Plus"></i></button>

                <div class="collapse" id="addEditInventoryForm" style="display:none;">
                    <div class="row">
                        <input type="hidden" id="salaryId">
                        <input type="hidden" id="employeeId">

                        <div class="col-md-2">
                            <label>FikSalary:</label>
                            <input type="text" id="fixsalary" class="form-control">
                        </div>


                        <div class="col-md-2">
                            <label>Payment:</label>
                            <input type="number" id="payment" class="form-control">
                        </div>


                        <div class="col-md-2">
                            <label>Sales:</label>
                            <input type="number" id="sales" class="form-control">
                        </div>



                        <div class="col-md-2">
                            <label>TotalCheck:</label>
                            <input type="number" id="totalcheck" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Award:</label>
                            <input type="number" id="award" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Penalty:</label>
                            <input type="number" id="penalty" class="form-control">
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-2">
                            <label>Countingdown:</label>
                            <input type="number" id="countingdown" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Additionalbonus:</label>
                            <input type="number" id="additionalBonus" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Conclusion:</label>
                            <input type="number" id="conclusion" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>CreateDate:</label>
                            <input type="date" id="createDate" class="form-control">
                        </div>
                    </div>
                    <button class="btn btn-primary" onclick="saveInventory()" style="margin-top:10px">Save</button>
                  
                </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
               
                
            </div>
            <div class="modal-body"style="max-height:400px;overflow-y:auto">
                <table class="table">
                    <thead style="text-align:center">
                        <tr>
                            <th>Fix Salary</th>
                            <th>Payment</th>
                            <th>Sales</th>
                            <th>Total Check</th>
                            <th>Award</th>
                            <th>Penalty</th>
                            <th>Countingdown</th>
                            <th>Additional Bonus</th>
                            <th>Conclusion</th>
                            <th>CreateDate</th>
                            <th>Emaliyyat</th>
                        </tr>
                    </thead>
                    <tfoot style="text-align:center">
                        <tr>
                            <th>Fix Salary</th>
                            <th>Payment</th>
                            <th>Sales</th>
                            <th>Total Check</th>
                            <th>Award</th>
                            <th>Penalty</th>
                            <th>Countingdown</th>
                            <th>Additional Bonus</th>
                            <th>Conclusion</th>
                            <th>CreateDate</th>
                            <th>Emaliyyat</th>
                        </tr>
                    </tfoot>
                    <tbody id="inventoryTableBody"style="text-align:center">
                        <!-- İnventarlar buraya AJAX ilə yüklənəcək -->
                    </tbody>
                </table>
                
                     
                
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> *@






@section Scripts {
    <script src="~/js/JavaScript.js" type="application/ecmascript"></script>
    <script src="~/js/employee-salary.js"></script>
    <script src="~/js/delete-confirmation.js"></script>
}

