@using IydePersonal.Application.Dtos.Employee
@model List<EmployeeDto>

<div class="container-xxl flex-grow-1 container-p-y">
            
       <H4 class=" fw-bold py-3 mb-4">
           <span class="text-muted fw-light"><b>Employees List</b>/ </span> Employees
       </H4>

<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Hoverable rows</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover"id="employeeTables" width="100%" cellspacing="0">
      <thead>
        <tr>
                      <th>FirstName</th>
                      <th>LastName</th>
                      <th>Gender</th>
                      <th>DateOfBirth</th>
                      <th>PhoneNumber</th>
                      <th>WorkPosition</th>
                      <th>Store</th>
                      <th>FixSalary</th>
                      <th>StarWork</th>
                      <th>IsActive</th>
    
        </tr>
      </thead>
      <tfoot>
                      <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Gender</th>
                        <th>DateOfBirth</th>
                        <th>PhoneNumber</th>
                        <th>WorkPosition</th>
                        <th>Store</th>
                        <th>FixSalary</th>
                        <th>StarWork</th>
                        <th>IsActive</th>
                      </tr>
      </tfoot>
      <tbody class="table-border-bottom-0">
        
                     @foreach (var Employee in Model)
                    {
                         <tr> 
                            <td>@Employee.FirstName</td>
                            <td>@Employee.LastName</td>
                            <td>@Employee.Gender</td>
                            <td>@Employee.DateOfBirth</td>
                            <td>@Employee.PhoneNumber</td>
                            <td>@Employee.WorkPosition</td>
                            <td>@Employee.StoreId</td>
                            <td>@Employee.FixSalary</td>
                            <td>@Employee.StartWork</td>
                            <td>@(Employee.IsActive? "Active":"OnActive")</td>
                         </tr>
                    }


      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->



  </div>

@section Scripts {
    <script src="~/js/JavaScript.js" type="application/ecmascript"></script>
}
