@model IEnumerable<EmployeeDto>


@* <div class="content-wrapper"> *@
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">


    <div class="row">
        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">

                        <i style="height:40px; font-size:2.25rem;color:#4169E1" class="menu-icon tf-icons bx bx bx-user"></i>

                    </div>
                    <span class="fw-semibold d-block mb-1">Employees</span>
                    <h3 class="card-title mb-2" style="color:blue" id="totalemployeecount"></h3>
                    <small class="text-success fw-semibold"> </small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <i style="height:40px;font-size:2.25rem;color:#4169E1" class="menu-icon tf-icons bx bx bx-user"></i>
                    </div>
                    <span class="fw-semibold d-block mb-1">OnActive</span>
                    <h3 class="card-title text-nowrap mb-2" style="color:red" id="totaldeleteemployee"></h3>
                    <small class="text-success fw-semibold"> </small>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">

                        <i style="height:40px; font-size:2.25rem;color:#8A2BE2" class="fa-sharp fa-solid fa-store"></i>

                    </div>
                    <span class="fw-semibold d-block mb-1">Store</span>
                    <h3 class="card-title mb-2" style="color:blue" id="totalstoreCount"></h3>
                    <small class="text-success fw-semibold"> </small>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <i style="height:40px;font-size:2.25rem;color:#000080" class="menu-icon tf-icons bx bx bx-user-plus"></i>
                    </div>
                    <span class="fw-semibold d-block mb-1">User</span>
                    <h3 class="card-title mb-2" style="color:blue" id="totalusercounts"></h3>
                    <small class="text-success fw-semibold"> </small>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="~/js/dashboardIndex.js"></script>
    <script src="~/js/Dashboard_for emp.js"></script>
    @*   <script src="~/js/admindashboard.js"></script> *@
    <script>
        var app = app || {}
        app.Urls = app.Urls || {}

        app.Urls.yearlyEmployeesUrl = "@(Url.Action("YearlyEmployeeCounts", "Home"))";
        app.Urls.totalArticleCountUrl = "@(Url.Action("TotalEmployeeCounts", "Home"))";
        app.Urls.totalDeleteArticleCountUrl = "@(Url.Action("TotalDeleteEmployeeCounts", "Home"))";
        app.Urls.totalCategoryCountUrl = "@(Url.Action("TotalStoreCounts", "Home"))";
        app.Urls.totalusercountUrl = "@(Url.Action("TotalUserCounts", "Home"))";
        app.Urls.totalusercountUrlss = "@(Url.Action("YearlyEmployeeCounts", "Home"))";
    </script>
}

 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="charts-container"style="display:flex;justify-content:center;gap:30px;margin-bottom:200px">
    <canvas id="genderChart" style="max-width: 300px; max-height: 300px;"></canvas>
    <canvas id="ageChart" style="max-width: 400px; max-height: 300px;"></canvas>
    <canvas id="positionChart" style="max-width: 400px; max-height: 300px;"></canvas>
</div>


    



